In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("IPLtest.csv")

In [ ]:
df

,Name,RCB vs CSK match,holiday tomorrow,evening match,can friends join in,outcome
0,Ravi,1,0,1,0,1
1,Rahul,0,0,0,1,0
2,Ravindran,1,1,1,1,1
3,Aditya,0,1,0,0,0
4,Kumar,0,0,1,0,0
5,Rohith,0,0,1,1,0
6,Gaurav,0,1,0,1,1
7,Ankit,1,0,0,0,1

In [ ]:
#Prototype of a basic McCulloh Pitts neuron
#define a thresholding parameter
threshold = 3
def step(sum):
  if sum >=threshold :
     return 1
  else:
     return 0

def MP_neuron(j):
   sum=0
   for i in range(1,5):
       sum = sum + df.loc[j].iat[i]
   return step(sum)
error = 0
for j in range(0,8):
    print("predicted output is :",MP_neuron(j))
    print("actual output is:",df.loc[j].iat[5])
    print("")
    error = error + (MP_neuron(j) - df.loc[j].iat[5])**2 
MSE= error/8
print("Mean Square Error is :",MSE)

predicted output is : 0
actual output is: 1

predicted output is : 0
actual output is: 0

predicted output is : 1
actual output is: 1

predicted output is : 0
actual output is: 0

predicted output is : 0
actual output is: 0

predicted output is : 0
actual output is: 0

predicted output is : 0
actual output is: 1

predicted output is : 0
actual output is: 1

Mean Square Error is : 0.375

In [ ]:
#Prototype of a basic Perceptron
#define a thresholding parameter 
threshold = 3
weights = [3,2,1,1]
def step(weighted_sum):
  if weighted_sum >=threshold :
     return 1
  else:
     return 0

def Perceptron(j):
   weighted_sum=0
   for i in range(1,5):
       weighted_sum = weighted_sum + (df.loc[j].iat[i])*(weights[i-1])
   return step(weighted_sum)
error =0
for j in range(0,8):
    print("predicted output is :",Perceptron(j))
    print("actual output is:",df.loc[j].iat[5])
    print("")
    error = error + (Perceptron(j) - df.loc[j].iat[5])**2 
MSE = error/8
print("Mean Square Error is :",MSE)

predicted output is : 1
actual output is: 1

predicted output is : 0
actual output is: 0

predicted output is : 1
actual output is: 1

predicted output is : 0
actual output is: 0

predicted output is : 0
actual output is: 0

predicted output is : 0
actual output is: 0

predicted output is : 1
actual output is: 1

predicted output is : 1
actual output is: 1

Mean Square Error is : 0.0